<form class="" action="<%= action %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Name:
    <input type="text" name="user[name]" value="<%= @user.name %>">
  </label>
  <label>Password:
    <input type="password" name="user[password]">
  </label>
  <input type="submit" value="<%= submit_msg %>">
</form>
